node_modules
.DS_Store
dist/
coverage/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
.terraform.lock.hcl

# Local Tools & Binaries
bin/
*.exe

# Secrets & Temporary Files
.env
*.pem
id_rsa
join.sh
